<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pruebapractica">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AddProductActivity"></activity>
        <activity android:parentActivityName=".Activities.MainActivity" android:name=".Activities.ProfileActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Activities.MainActivity"></meta-data>
        </activity>
        <activity
            android:name=".Splash.SpashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>